/* * {
	border: 1px dashed red;
	min-height: 10px;
} */
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
}
body {
	background-color: black;
}

.postcard-header {
	display: flex;
}
img {
	width: 50px;
	height: 50px;
}
h1 {
	width: 100%;
	border: 1px;
}
.postcard-body {
	display: flex;
}
.body-left {
	padding: 5px;
}
.first-paragraph {
	margin-top: 1px;
}
.body-right {
	border-bottom: grey solid;
}
.second-paragraph {
	margin-top: 5px;
}
.postcard-footer {
	background-color: grey;
	text-align: center;
	padding: 5px;
}
